{% extends 'base/base.html' %}

{% block conteudo %}
<div id="about-section">
    <div class="row">
        <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered">
            <h1>Sobre:</h1>

                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra libero quis mollis ultricies. Aliquam pharetra lobortis arcu, vel malesuada est ullamcorper a. Etiam rutrum nec sapien volutpat facilisis. Ut maximus erat urna, quis porttitor risus gravida auctor. Curabitur vel diam nec ante feugiat luctus ut in mauris. Etiam sodales fermentum turpis ut fermentum. Fusce lacus nibh, aliquet id ornare nec, accumsan et orci. Quisque libero dui, suscipit vitae mi et, varius tempor ante. Nulla sed elit vel erat facilisis imperdiet eu non mauris. Sed eu nulla sem. Sed imperdiet interdum iaculis. Duis fermentum lacinia orci. Nunc enim lorem, auctor nec convallis eget, sagittis at neque. Fusce nec augue lorem. Aenean ac cursus massa, nec vulputate elit. In et tellus eu elit pharetra bibendum ac at lorem.

            Quisque tristique mi sed magna dictum dapibus. Fusce ac tortor ac elit sodales porta. Vestibulum ultricies pulvinar felis et gravida. Nam nibh ipsum, venenatis at justo a, venenatis vehicula neque. Sed nec elementum nunc, non ultricies eros. Aliquam quis dignissim ipsum, at condimentum nibh. Pellentesque finibus suscipit est id aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque maximus euismod risus, a volutpat dolor efficitur venenatis. Proin at tincidunt nisl, sit amet sagittis ligula. Praesent lacinia et orci nec viverra.
                </span>


                <p>Agradecimentos aos Membros</p>
                <ul>
                    {% for p in players %}
                    <li>{{p.clan_tag}}{{p.nickname}} ({{p.name}})</li>
                    {% endfor %}

                </ul>

        </div>
    </div>
</div>
{% endblock %}