{% comment  %}Vai Se Foder {% endcomment %}
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Comunidade Quake 2 Brasil</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for m in menu %}


                  {% if m.game or m.game.item.all  %}
                        <li class="dropdown">
                            <a href="{% url 'game' m.game.slug %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{m.title}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            {% for item in m.item.all %}
                                <li><a href="{% url 'file' m.game.slug item.slug %}">{{item.title}} </a></li>
                             {% endfor %}
                            </ul>
                        </li>
                   {% else %}
                   <li><a href="/">{{ m.title }}</a></li>
                  {% endif %}
            {% endfor %}

          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if not user_logged %}
                <li><a href="">Cadastre-se</a></li>
               <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>

                <ul id="login-box" class="dropdown-menu">
                    <li>
                   <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                	<div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
					<div class="form-group">
					    <label class="sr-only" for="exampleInputPassword2">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                        <div class="help-block text-right"><a href="">Esqueceu a Senha?</a></div>
					</div>
					<div class="form-group">
					    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
					</div>
                   </form>
                    </li>
                </ul>
            </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
