{% extends 'base/base.html' %}


{% block conteudo %}

<h1> Cadastro de Novo Usuário</h1>
    <div class="signup-form">
        <form action="/cadastro/" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="button round default">Enviar</button>
        </form>

    </div>

{% endblock %}