{% extends 'base/base.html' %}

{% block conteudo %}


<h1> {{ category.name }} - {{ game.name }}</h1>



 {% if file_list %}

<div class="container-fluid">
<table class="table table-hover">
    <thead>
        <tr>
            {% if category.slug == 'demos' %}
            <th>Nome do demo (.dm2)</th>
            {% elif category.slug == 'configs' %}
            <th>Nome das Configs (.cfg)</th>
            {% endif %}
            <th>Autor</th>
            <th>Nº de Downloads</th>
            <th>Download</th>
        </tr>
    </thead>

    {% for f in file_list %}
    <tbody>
        <tr>
            <td><a href="{% url 'get' f.id %}">{{f.name}}</a></td>
            <td> {{ f.user.username }}</td>
            <td>{{ f.download_counter }}</td>

            <td><a class="button default" href="{% url 'get' f.id %}"><i class="fa fa-download" aria-hidden="true"></i>
Download</a></td>
        </tr>
    </tbody>
    {% endfor %}

</table>

{% endif %}

{% if not file_list %}
    <p class="text-center">Desculpe, Nenhum Arquivo foi Encontrado</p>
{% endif %}

</div>
{% endblock %}