

#login-box {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden
    background-color: #FFF;
}


.news-article-text  {
    display: block;
    text-align: justify;
    text-justify: inter-word;
}