<div class="row">
    <div class="small-6 medium-6 large-6 columns">
        <div class="small-6 medium-6 large-6 columns">
            <h1>{{game_name}}</h1>
        </div>
        <div class="small-6 medium-6 large-6 columns">
            <ul class="inline-list">
            {% for item in menu %}
                <li><a href="{% url 'file' slug item.slug  %}">{{item}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>