{% extends 'base/base.html' %}

{% block conteudo %}

        {% if article_list %}
        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--12-col">
                <div class="block_news">
                    <h2>Notícias</h2>
            {% for article in article_list %}
                    <div class="noticia">

                      <article>
                      <h3><a href="{% url 'read' article.id article.slug  %}">{{ article.title }}</a></h3>

                      <p>
                      {{ article.text | truncatewords:65   }}
                      </p>

                        {% if article.user.nickname %}
                          <p>Por:  {{ article.user.clan_tag }}{{ article.user.nickname }} </p>
                          {% else %}
                            <p>Por:  {{ article.user.name}}</p>
                         {% endif %}
                          <p>Data: {{ article.pub_date | date:'d/m/Y' }}</p>
                      </article>

                    </div>

            {% endfor %}
                </div>

          </div>

        {% endif %}

        {% if not article_list %}
              <div class="mdl-cell mdl-cell--12-col">
                <h2>Nenhuma Notícia Postada</h2>
            </div>
        {% endif %}
    </div>

{% endblock %}
