{% extends 'base/base.html' %}
{% load static from staticfiles %}


{% block conteudo %}




{% if article_list %}
	<div class="row">

		{% for article in article_list  %}
		<div class="col-md-4 col-sm-12">
				<div class="row">
					<div class="col-sm-12 col-md-12">
							<article class="news">
							<h4><a href="{% url 'read' article.pk article.slug %}">{{article.title}}</a></h4>
								{% if not article.image %}
								<img class="news_img" width="100%" src="{% static "images/no_image.png" %}" alt="">
								{% else %}
								<img class="news_img" width="100%" src="{% static "images/no_image.png" %}" alt="">
								{% endif %}

								<span>{{article.text|truncatewords:66}}</span>
							</article>
					</div>
				</div>
		</div>
		{% endfor %}
	</div>
{% endif %}


{% endblock %}
