{% extends 'base/base.html' %}
{% load static %}

{% block ogmeta %}
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
{% endblock %}

{% block conteudo %}
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <article class="news-article">
            <header>
              <h1>{{article.title}}</h1>
                  {% if article.image %}
                    <figure>
                    <img src="{% static 'images/no_image.png' %}" alt="">
                    </figure>
                  {% endif %}
            </header>
                <p class="news-article-text">{{article.text}}</p>
            <aside>
              <div class="fb-like" data-href="{% url 'read' article.id article.slug %}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
            </aside>

          <footer>
            <p>TESTE 2</p>
          </footer>

        </article>
        </div>

    </div>
</div>
{% endblock %}
